.scoreHeader {
    background-color: var(--peach);
    font-family: var(--accent-font);
    color: var(--blue);
    border-radius: 2em;
    text-align: center;
    font-size: 2em;
    margin: .15em 1em;
}

.commentBlock {
    margin: 0 auto;
    width: 50%;
    color: var(--green);
    font-family: var(--accent-font);
}

.addComment {
    background-color: var(--blue);
    border-radius: 2em;
}

.addComment:hover {
    cursor: pointer;
    text-decoration: underline;
}

.addComment > p {
    text-align: center;
}

.newComment {
    display: flex;
    margin-bottom: 1em;
}

.newComment > input {
    background-color: var(--red);
    color: var(--peach);
    font-family: var(--accent-font);
    font-size: 1em;
}

.iconHolder {
    display: flex;
}