.statBlock {
    background-color: var(--blue);
    margin: .25em;
    border-radius: 2em;
    flex: 1 1 0;
}

.statTitle {
    text-align: center;
    font-family: var(--main-font);
    color: var(--green);
}

.statNum {
    text-align: center;
    font-family: var(--accent-font);
    color: var(--peach);
    font-size: 4em;
    margin: 0 0 .25em 0;
}