.gameContainer {
    display: flex;
    margin-top: .5em;
}

.gameDetailContainer {
    border: 15px solid var(--peach);
    border-radius: 2em;
    margin-left: .5em;
}

.gameInfo {
    display: flex;
}

.gameTextContainer {
    color: var(--peach);
    margin-left: .5em;
}

.imageDiv {
    margin-top: 1em;
    margin-left: .25em;
    margin-bottom: 0;
    align-items: center;
    width: 250px;
    border: 3px solid var(--peach);
    border-radius: 5px;
}

.buttonContainer {
    background-color: var(--blue);
    border-radius: 2em;
    width: 90%;
    margin: 70px auto;
    display: flex;
    align-items: center;
}

.addScore {
    color: var(--peach);
    font-family: var(--accent-font);
    font-size: 2em;
    padding: .25em;
    margin-top: 0
}

.scoreInput {
    color: var(--peach);
    font-family: var(--accent-font);
    font-size: 2rem;
    padding: .25em;
    color: var(--peach);
    background-color: var(--blue);
    border: none;
    border-radius: 2em;
    padding-left: .5em;
}

.searchInput::placeholder {
    color: var(--peach)
}

.addScore:hover {
    cursor: pointer;
    text-decoration: underline;
}

img {
    width: 100%;
}